@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-urbanist;
}

/* Apply to the entire document */
body::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: #3d3c3c; /* Track color */
}
  
body::-webkit-scrollbar-thumb {
    background: #888; /* Thumb color */
    border-radius: 5px; /* Rounded edges */
}
  
body::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}
  